/* Targeting elements*/

body {
    background-color: black;
}

div {
    display: block;
    width: auto;
    background-color: red;
}

#h2 p,
strong {
    font-size: 38px;
    color: blue;
}

strong {
    color: green;
    font-size: 25px;
}

.test {
    color: purple;
}

a {
    color: green;
    text-decoration: none;
}

p {
    font-size: 18px;
    color: yellow;
}


/*
a {
    color: green;
    text-decoration: none;
}

div {
    width: 100%;
    background-color: yellow;
    ;
}

#header {
    position: 100px;
    top: 100;
    left: 0;
}


/* 

#header h1 {
    font-size: 25px;
}

#header {
    font-size: 18px;
    color: blue;
    text-transform: uppercase;
}

#header2 {
    font-size: 20px;
    text-transform: uppercase;
    color: orange;
}

.h2 {
    display: block;
    color: green;
}*/